
    <b> {{headerFooter}} ? </b>&nbsp;

    <div class="card">
      <img class="img-thumbnail" [src]="imgUrl" [alt]="altText">
      <div class="card-body">
        <h4 class="card-title">Rodrigo Fujioka</h4>
        <p class="card-text">1° TDC Recife com prof Rodrigo Fujioka Coordenando Trilha de Java</p>
        <a href="https://thedevconf.com/tdc/2019/recife/trilha-java" target="_blank" class="btn btn-success">TDC</a>           
        &nbsp;&nbsp;
        <a [href]="githubUrl" target="_blank" class="btn btn-dark">GitHub</a> 
        <app-contador></app-contador>            
      </div>   
    </div>






