<form (ngSubmit)="saveContato(f)" #f="ngForm">

    <div>
        <label for="name">Name:</label>
        <input type="text" [(ngModel)]="contato.name" id="name" name="name" #name="ngModel" required class="form-control"  
        placeholder="Digite a Nome"  [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" >

    </div>
    <div>
        <label for="accountNumber">AccountNumber:</label>
        <input type="text" [(ngModel)]="contato.accountNumber" id="accountNumber" name="accountNumber" #accountNumber="ngModel" required class="form-control"  >
       
    </div>
    <div>
        <button type="submit" [disabled]="f.form.invalid">Cadastrar</button>
    </div>
</form>